@{
    ViewData["Title"] = "Home Page";
    var role = Context.Request.Cookies["Role"];  // Get the Role cookie
    var name = Context.Request.Cookies["Name"];  // Get the Name cookie
}

<div class="text-center">
    <h1 class="display-4">Welcome to the E-Learners Website</h1>
    <p class="h5">
            eLearning (e-learning, electronic learning) is a type of online education, training, and knowledge sharing that is conducted over the Internet. It can be utilized in various settings, such as academic education, corporate training, continuing professional development, and skill development courses.

            The growth of eLearning has been facilitated by the widespread adoption of computers and internet technology, and was further accelerated by the COVID-19 pandemic, which led to a surge in demand for online learning solutions. But would you like to know where it all started?
    </p>
</div>
