@{
    ViewData["Title"] = "Login Option";
}
<div class="row">
    <div class="col-md-4">
         <div class="form-group">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RedirectInstructor">Login as Instructor</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RedirectStudent">Login as Student</a>
         </div>
    </div>
</div>